@import "../../assets/sharedscss/form.scss";

#sucessemail{
    @include formstructure();
    padding: .5rem;
    color: green;
    margin-bottom: 1rem;
}
.form{
    padding-bottom: 2rem;
}

@media screen and (max-width: 900px) {
    #sucessemail{
      width: 40%;
    }
}
  
@media screen and (max-width: 700px) {
    #sucessemail{
      width: 50%;
    }
}
  
@media screen and (max-width: 480px) {
    #sucessemail{
      width: 70%;
    }
}
  