// for sucessa and failure scss
@import '../Feedback/Feedback.scss';
@import '../../assets/sharedscss/form.scss';


#gotosignin{
    color: black;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: .5rem;
    background-color: #f0c14b
}
#gotosignin:hover{
    background-color: #f3c03f;
}

#invalidlink{
    width: 40%;
    margin: auto;
    background: url('../../assets/gif/error404.gif');
    background-size:400px;
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 3px;
    position:relative;

    h3{
        font-weight: bold;
        font-size: 2rem;
    }

    p{
        font-weight: bold;
    }   
    div{
        display: flex;
        position: absolute;
        bottom: 4px;
        
        #go{
            width: auto;
            text-decoration: none;
            font-weight: bold;
            padding: .5rem;
            margin-top: 10%;
            display: inline-block;
            color: black;
            text-align: center;
            cursor: pointer;
            font-size: medium;
            margin-left: 1rem;
            border: 1px solid #adb1b8 #a2a6ac #8d9096;
            background: #f0c14b;
            width: auto;
        }  
        #go:hover{
            background:#ddaa28;
        }      
    }
}



@media screen and (max-width: 1200px) {
    #invalidlink{
      width: 50%;
    }
  }
  
  @media screen and (max-width: 950px) {
    #invalidlink{
      width: 70%;
    }
  }
  
  @media screen and (max-width: 500px) {
    #invalidlink{
      width: 80%;
      background-size: 380px;

      h3{
            font-weight: bold;
            font-size: 1.3rem;
        }

        p{
            font-weight: bold;
            font-size: .8rem;
        } 
        div{
            flex-direction: column;
            bottom: 1px;
            right: 4px;

            #go{
                width: 80%;
                margin:1rem auto;
                display: block;
            }
        }
    }
    
}